
<section class="relative w-full min-h-screen flex items-center justify-center
            bg-[url('/bg-product.jpeg')] bg-cover bg-center">
        
        
          <div class="absolute inset-0 bg-black/50"></div> 
 <div class="container mx-auto my-8 px-6 relative z-10">

<div class="flex flex-col gap-3  justify-center z-20  items-center">
    <h2 class="text-white font-bold text-6xl p-4">شكرا علي زيارة <span class="text-[#ff6f61]">PENTA</span>  </h2>
    <p class="text-white font-semibold text-3xl">"في <span class="text-[#ff6f61]">PENTA </span>، لخصنا معادلة الشياكة في 5 أركان. إحنا شباب زيك، فاهمين إنك محتاج كواليتي تعيش معاك وبسعر مناسب . بنقدم لك 'القيمة الحقيقية' في كل قطعة ."</p>
    <p class="text-white font-semibold text-3xl">يسعدنا تواصلك معانا. لو عندك أي استفسار بخصوص المنتجات أو طلب اوردر </p>
    <p class="text-white font-semibold text-3xl">ابعتلنا التفاصيل وإن شاء الله نرد عليك في أقرب وقت.
شكرًا لثقتك <i class="fa-solid fa-heart"></i>
</p>
<a
  href="https://m.me/953540191179437"
  target="_blank"
  class="inline-block my-5 px-6 py-3 bg-blue-600 hover:bg-blue-700
         text-white font-semibold rounded-xl transition">
  تواصل لشراء المنتج <i class="fa-brands fa-facebook-messenger"></i>
</a>
</div>

</div>
        
        </section>
